/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
/* Row 1: left 6 used, right 6 disabled */
&kp ESC   &kp N1 &kp N2 &kp N3   &kp N4   &kp N5                     &none &none &none &none &none &none

/* Row 2: left 6 used, right 6 disabled */
&kp TAB   &kp Q  &kp W  &kp E    &kp R    &kp T                      &none &none &none &none &none &none

/* Row 3: left 6 used, right 6 disabled */
&kp LCTRL &kp A  &kp S  &kp D    &kp F    &kp G                      &none &none &none &none &none &none

/* Row 4: left 8 used, right 6 disabled */
&kp LSHFT &kp Z  &kp X  &kp C    &kp V    &kp B  &kp LBKT   &kp RBKT &none &none &none &none &none &none

/* Thumb row: left 4 used, right 4 disabled */
                        &kp LALT &kp LGUI &mo 1  &kp SPACE  &none &none &none &none
            >;
        };
    };
};
